# Basic alg operations

In [6]:
2+8

10

In [7]:
10-2

8

In [8]:
10*9

90

In [9]:
12/4

3.0

In [10]:
12/7

1.7142857142857142

In [11]:
12//7

1

In [12]:
12%7

5

In [14]:
5**2

25

# Variables in python

In [16]:
x=10

In [17]:
id(x)

4528462464

In [25]:
sam=10
sa_=10
sam1=10
sam=10
_sam=10
sam1_sam_1=10

In [49]:
x=10
y=15
tem=x
x=y
y=tem

In [53]:
x=10
y=15

x,y=y,x

In [58]:
x,y,z=10,11,12

In [62]:
x=10
y=15   
x,y,x=x+y,x-y,x*y

In [63]:
x

150

In [64]:
y

-5

# datatypes in python

"""
int
float
string
list
tuple
set
dict
"""

##  int & float

In [69]:
x=10
type(x)

int

In [70]:
y=10.7
type(y)

float

In [71]:
y=10.0
type(y)

float

In [73]:
x=10
x=float(x)
x=int(x)
x

10

In [75]:
x=18.9
x=int(x)
x=float(x)
x

18.0

In [77]:
x=int()
x=float()

# strings

In [91]:
x='python'
y="python"
z='''python'''

In [92]:
x==y

True

In [93]:
y==z

True

In [94]:
x.upper()

'PYTHON'

In [95]:
x.lower()

'python'

In [96]:
x.capitalize()

'Python'

In [100]:
x[1] #whenever we are calling using index we need to use [] brackets

'y'

In [105]:
x.find("o")

4

In [106]:
x.index("o")

4

In [107]:
x.count("o")

1

In [108]:
x.count("l")

0

In [109]:
x.isalpha()

True

In [110]:
x.isnumeric()

False

In [111]:
x.isalnum()

True

In [115]:
x="    kdncdjkn   "
x.strip()

'kdncdjkn'

In [116]:
x.lstrip()

'kdncdjkn   '

In [117]:
x.rstrip()

'    kdncdjkn'

In [119]:
x="python"

In [121]:
x[0]="k"

TypeError: 'str' object does not support item assignment

In [122]:
# mutable and  immutable

In [127]:
x="python"

x*2
x*2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [128]:
x*-2

''

In [130]:
x+x+x

'pythonpythonpython'

## int<--> string

In [133]:
x=10
x=str(x)
x
x=int(x)
type(x)

int

## set

In [4]:
x={1,2,1,3,4}
y={2,3,5,1,5}
x

{1, 2, 3, 4}

In [5]:
y

{1, 2, 3, 5}

In [6]:
x.union(y)

{1, 2, 3, 4, 5}

In [7]:
x&y

{1, 2, 3}

In [8]:
x-y

{4}

In [9]:
y-x

{5}

In [11]:
x|y

{1, 2, 3, 4, 5}

# list

collection of objects

In [12]:
a=[1,2,3,3.4,"bdh",True,[12.3,4],{1,4,3}]

In [20]:
a=[1,2,3]
b=[4,5,6]

In [21]:
a+b

[1, 2, 3, 4, 5, 6]

In [22]:
a*2

[1, 2, 3, 1, 2, 3]

In [23]:
a.count(2)

1

In [24]:
a.index(3)

2

In [34]:
a=[1,2,3]

In [35]:
a.append(4)

In [36]:
a

[1, 2, 3, 4]

In [37]:
a.append(10)

In [38]:
a

[1, 2, 3, 4, 10]

In [40]:
a.insert(1,100)

In [41]:
a

[1, 100, 2, 3, 4, 10]

In [42]:
a.remove(100)

In [44]:
a

[1, 2, 3, 4, 10]

In [46]:
a.pop(4)

10

In [47]:
a

[1, 2, 3, 4]

In [48]:
a.pop(1)

2

In [49]:
a

[1, 3, 4]

In [50]:
a.pop()

4

In [51]:
a

[1, 3]

In [60]:
a=[1,-10,20,30,0.5]

In [61]:
a.sort()

In [62]:
a

[-10, 0.5, 1, 20, 30]

In [63]:
a.sort(reverse=True)

In [64]:
a

[30, 20, 1, 0.5, -10]

In [66]:
a.append(20)

In [67]:
a

[30, 20, 1, 0.5, -10, 20]

In [69]:
a.append([2,5])

In [70]:
a

[30, 20, 1, 0.5, -10, 20, [2, 5]]

In [72]:
a=[1,3,4]
a.extend([5,6])
a

[1, 3, 4, 5, 6]

In [74]:
a[2]=100
a

[1, 3, 100, 5, 6]

## str<-->list

In [90]:
a="hello world"
a=list(a)
a

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [91]:
a="".join(a)
a

'hello world'

# tuple

In [95]:
a=(1,2,3,3.4,"bdh",True,[12.3,4])

In [96]:
a.count(1)

2

In [97]:
a.index(3.4)

3

In [98]:
a+a

(1, 2, 3, 3.4, 'bdh', True, [12.3, 4], 1, 2, 3, 3.4, 'bdh', True, [12.3, 4])

In [99]:
a*2

(1, 2, 3, 3.4, 'bdh', True, [12.3, 4], 1, 2, 3, 3.4, 'bdh', True, [12.3, 4])

In [101]:
a[0]=100

TypeError: 'tuple' object does not support item assignment

## list<--> tuple

In [103]:
a=[1,2,3]
a=tuple(a)
a=list(a)
a

[1, 2, 3]

# dict

In [104]:
names={
    
    "a":["ananya","akhil","anu","anurag"],
    "b":["bhadra"],
    "r":["rohit","rajarshi"]
    
}

In [107]:
names["b"]

['bhadra']

In [109]:
name_salary_age={
    
    "names":["ananya","akhil","anu","anurag"],
    "salary":[1,2,3,4],
    "age":[10,21,13,14]    
}

In [111]:
name_salary_age["age"]

[10, 21, 13, 14]

In [119]:
name_salary_age["salary"]

[1, 2, 3, 4]

In [120]:
name_salary_age.keys()

dict_keys(['names', 'salary', 'age'])

In [121]:
name_salary_age.items()

dict_items([('names', ['ananya', 'akhil', 'anu', 'anurag']), ('salary', [1, 2, 3, 4]), ('age', [10, 21, 13, 14])])

In [122]:
name_salary_age.pop("age")

[10, 21, 13, 14]

In [123]:
name_salary_age

{'names': ['ananya', 'akhil', 'anu', 'anurag'], 'salary': [1, 2, 3, 4]}

In [124]:
salary_updated={
    "salary":[0.5,2.3,3.9,4.2]
}

In [125]:
name_salary_age.update(salary_updated)

In [126]:
name_salary_age

{'names': ['ananya', 'akhil', 'anu', 'anurag'], 'salary': [0.5, 2.3, 3.9, 4.2]}

# for loop

In [143]:
a=[1,2,3,10]

b=[]

for i in a :
    print(i)

b.append(i*3)

b

1
2
3
10

[30]

In [140]:
a=[1,2,3,4]

b=1

for i in a:
      b=b*i
        
        
print(b)

24

In [171]:
x=15
if x==10 or x==15:
    print("a")
    

elif x==11:
    print("c")

elif x==12:
    print("d")    
    
else :
    
    print("b")

a

# question 1

In [172]:
l=[1,20,23,25.5,43,23,28,29,27.5,23.0,24.0,24.6]

even=[]
odd=[]
fractions=[]

for i in l:
    if i%2==0:
        even.append(i)
    elif i%2==1:
        odd.append(i)
        
    else:
        fractions.append(i)

In [173]:
even

[20, 28, 24.0]

In [174]:
odd

[1, 23, 43, 23, 29, 23.0]

In [175]:
fractions

[25.5, 27.5, 24.6]

# functions

In [180]:
pow(2,5)

32

In [182]:
pow(2,3)

8

In [198]:
def even_odd(x):
    if x%2==0:
        return("even")
        
    elif x%2==1:
        return("odd")
        
        
    print("*")

In [199]:
a=even_odd(15)

In [200]:
print(a)

odd

In [201]:
l=[1,20,23,25.5,43,23,28,29,27.5,23.0,24.0,24.6]


def even_odd(l):
    even=[]
    odd=[]
    fraction=[]
    for i in l:
        if i%2==0:
            even.append(i)
        elif i%2==1:
            odd.append(i)
        else :
            fraction.append(i)
            
    return even, odd,fraction

In [202]:
even_odd(l)

([20, 28, 24.0], [1, 23, 43, 23, 29, 23.0], [25.5, 27.5, 24.6])

In [213]:
l = [1,20,21,22,23,23.5,24,24.8,25,26]



def odd_even_fraction(l):
    even = []
    odd = []
    fraction = []
    for i in l:
        if i%2 == 0:
            even.append(i)
        elif i%2 == 1:
            odd.append(i)
        else:
            fraction.append(i)
    return even, odd,fraction

In [217]:
odd_even_fraction(l)

([20, 22, 24, 26], [1, 21, 23, 25], [23.5, 24.8])

the number should be divisible by 1 and that number itself , min prime number is 2

In [ ]:
23
23-->2
23-->3
23-->4



23--->22

In [360]:
def prime(x):
    if x<=1:
        return False
    for i in range(2,x):
        #print("trying to divide ",x,"with",i)
        if x%i==0:
            return False
        
    return True

In [369]:
prime(61)

True

# list comprehension

In [224]:
a=[1,2,3,10]

b=[]

for i in a :
    

    b.append(i*3)

b

[3, 6, 9, 30]

In [227]:
a=[1,2,3,10]

b=[i*3 for i in a]
b

[3, 6, 9, 30]

In [230]:
a=[1,2,3,10]

b=[i for i in a if i%2==0 ]
b

[2, 10]

In [233]:
a=[1,2,3,10]

b=["even" if i%2==0 else "odd" for i in a ]
b

['odd', 'even', 'odd', 'even']

# map function

In [456]:
def even_odd(x):
    if x%2==0:
        return "even"
    
    elif x%2==1:
        return "odd"

In [457]:
even_odd(19)

'odd'

In [458]:
output=map(even_odd,[1,2,3,10])

In [459]:
type(output)

map

In [463]:
next(output)

'even'

In [324]:
def sum(x,y):
    return x+y

In [325]:
output=map(sum,[1,2,3],[2,3,4])

In [326]:
list(output)

[3, 5, 7]

# filter object

In [274]:
def even_odd(x):
    if x%2==0:
        return True
    
    elif x%2==1:
        return False

In [270]:
even_odd(10)

False

In [271]:
even_odd(11)

True

In [278]:
l=[1,2,3,10,12,11,18,19]
output=filter(even_odd,range(29,40))
list(output)

[30, 32, 34, 36, 38]

In [370]:
output=filter(prime,range(50,100))
list(output)

[53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# try<->exception

In [318]:
def divide(x,y):
    
    try :
        
        output=x/y
        
    
    except:
        
        output= "it's not divisible "
    
    finally :
        
        print(" we will this part everyime ")
        return output

In [319]:
a=divide(10,1)

 we will this part everyime

In [320]:
a

10.0

In [313]:
l=[1,20,23,25,43,23,28,29,31,29.7]

def odd_even(l):
    even=[]
    odd=[]
    fraction=[]
    for i in l:
        if i%2==0:
            even.append(i)
        elif i%2==1 :
            odd.append(i)
        else:
            fraction.append(i)
    return even,odd,fraction

In [314]:
odd_even(l)

([20, 28], [1, 23, 25, 43, 23, 29, 31], [29.7])

In [327]:
import matplotlib.pyplot as plt

# default values in functions

In [384]:
def multiply(x=1,y=1):
    return x*y

In [385]:
multiply(10,2)

20

In [386]:
multiply(10,4)

40

In [387]:
multiply()

1

# lambda functions

In [388]:
def multiply(x,y):
    return x*y

In [391]:
multiply =lambda x=1,y=1 : x*y

In [403]:
multiply(10,2)

20

In [394]:
type(multiply)

function

In [413]:
def even_odd(x):
    if x%2==0:
        return "even"
    else:
        return "odd"

In [411]:
even_odd=lambda x :"even" if x%2==0 else "odd"

In [412]:
even_odd(223)

'odd'

#Q1. try to write prime functuon using lambda

# iter object

In [423]:
x=[i**2 for i in range(1,100000000)]

In [452]:
y=(i**2 for i in range(1,10))

In [454]:
next(y)

4

In [455]:
list(y)

[9, 16, 25, 36, 49, 64, 81]