In [3]:
from scipy import stats
import pandas as pd
import numpy as np

In [4]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 8A93-4196

 Directory of D:\Dev_Jatin\DataScience\DataScience_Learning\05-confidence-interval

10-02-2022  08:59 PM    <DIR>          .
10-02-2022  08:45 PM    <DIR>          ..
10-02-2022  08:49 PM    <DIR>          .ipynb_checkpoints
10-02-2022  08:46 PM            87,155 beml_df.csv
10-02-2022  08:59 PM            10,409 Confidence Interval.ipynb
10-02-2022  08:46 PM            88,939 glaxo_df.csv
               3 File(s)        186,503 bytes
               3 Dir(s)  191,974,281,216 bytes free

In [5]:
glaxo_df=pd.read_csv('glaxo_df.csv')

In [6]:
glaxo_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

In [7]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci,8))

Gain at 95% confidence interval is: [-0.02580013  0.02657222]

In [8]:
beml_df=pd.read_csv('beml_df.csv')

beml_df_ci = stats. norm.interval(0.95,
loc=beml_df.gain.mean(),
scale=beml_df.gain.std())
beml_df_ci

(-0.051532729680601415, 0.05207422583871588)

# t-distribution

In [9]:
beml_df=pd.read_csv('beml_df.csv')

beml_df_ci = stats. t .interval(0.95,1737,
beml_df.gain.mean(),
beml_df.gain.std())
beml_df_ci

(-0.051568851771367774, 0.05211034792948224)

In [10]:
glaxo_df.shape

(1738, 4)

In [12]:
glaxo_df=pd.read_csv('glaxo_df.csv')

glaxo_df_ci = stats.t.interval(0.95,1738,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
glaxo_df_ci

(-0.025818382160367217, 0.0265904643255518)